@import '~antd/dist/antd.variable.min.css';
@import 'assets/styles/fonts/vazir/font-face.css';
  

/* .ant-menu .ant-menu-sub, .ant-menu.ant-menu, .ant-menu.ant-menu .ant-menu-sub {
    background: #764abc !important;
} */

.ant-input-password > input{
  direction: ltr !important;
}

.ant-input-password > .ant-input-suffix{
  margin: 0 0 0 4px;
}

.ant-input-affix-wrapper-rtl.ant-input-password {
  direction: ltr !important;
}

.ltr-input {
  direction: ltr !important;
}

.ant-layout-content {
  padding: 0 !important;
}

.ant-layout {
  background: transparent !important;
}

.ant-menu-title-content, .ant-dropdown-menu-item {
  font-weight: bold !important;
}

